.responsive__video {
  position: relative;
  padding-bottom: 58%;
  padding-top: 25px;
  height: 0;
  margin-bottom: space(site);
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
